.profile__avatar-button{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: transparent;
    border: none;
}
.profile__avatar-button:hover{
    cursor: pointer;
    transition: 0.5s linear;
    background-image: url('../../../images/changeAvatar.svg') !important;
    background: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-position: center;
}