.header__logo {
  height: 33px;
  max-width: 142px;
  padding-bottom: 41px;
  padding-top: 45px;
  background-position: center;
}

@media (max-width: 670px) {
  .header__logo {
    max-width: 103px;
    height: 24px;
    margin-left: 27px;
    padding-top: 28px;
    padding-bottom: 31px;
  }
}
