.element {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #ffffff;
  object-fit: initial;
  border-radius: 10px;
  width: 282px;
  max-height: 361px;
  margin-bottom: 20px;
  position: relative;
}

@media (max-width: 670px) {
  .element {
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
